*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Slabo 27px', serif;
}
.bgimage{
	position: relative;
	background-image: url('AJ2.jpg');
	background-size: 100% 110%;
	width: 100%;
	height: 100vh;
    

} 
.bgimage:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
}
.menu{
	width: 100%;
	height: 100px;
	background-color: #1a1a1a;
	position: relative;
	z-index: 1;
}
.leftmenu{
	width: 25%;
	line-height: 100px;
	float: left;
}
.leftmenu h3{
	padding-left: 70px;
	font-weight: bold;
	color: white;
	font-size: 22px;
	transition: font-size 1s;
}

.leftmenu h3:hover{
	font-size: 26px;
}
.rightmenu{
	width: 75%;
	height: 100px;
	letter-spacing: 1px;
	float: right;
}
.rightmenu ul{
		text-align: right;
	margin-right: 55px;
}
.rightmenu ul li{
	display: inline-block;
	list-style: none;
	font-size: 15px;
	color: #fff;
	font-weight: bold;
	line-height: 100px;
	margin-left: 40px;
	text-transform: uppercase; 

}
.rightmenu ul li:hover{
	color: orange;
}
.text{
	width: 100%;
	margin-top: 185px;
	text-transform: uppercase;
	text-align: center;
	color: #e6e6e6;
	position: relative;
	z-index: 1;
}
.text h4{
	font-size: 15px;
	/*font-family: 'Noto Sans HK', sans-serif;*/
	word-spacing: 10px;
	letter-spacing: 1px;
	margin-bottom: 5px;
}
/*.text h1:hover{
	color:orange;*/
}
.text h1{
	font-size: 60px;
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-weight: 700px;
	margin: 14px 0px;
}

.text h3{
	font-size: 15px;
	font-family: 'Oswald', sans-serif;
	word-spacing: 5px;
	margin-top: 5px;

}

#buttonone{
	background-color: orange;
	/*border: none;*/
	font-size: 12px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 40px;
	width: 150px;
	margin-top: 25px;
	border: 3px solid black;
}
#buttonone:hover{
	color:yellow;
}
#buttontwo{
	background-color: transparent;
	/*border: none;*/
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 40px;
	border: 3px solid black;
	width: 150px;
	margin-top: 25px;
	margin-left: 5px;
}
#buttontwo:hover{
	color:orange;
}
